@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --text: #1F1F1F;
  --text-b: #fff;
  --bg: #F8F6F2;
  --surface: #fff;
  --border: #E7E0D8;
  --primary: #4A3428;
  --secondary: #7A8B74;
  --accent: #8A4B38;
  --border: #E7E0D8;


  font: 18px/145% 'Plus Jakarta Sans', sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

#root {
  width:  100%;
  max-width: 1025px;
  margin: 0 auto;
  padding-inline: 16px;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2 {
  font-family: 'Manrope';
  font-weight: 800;
  color: var(--text);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.logo{
  margin-top: 50px;
  width: min(520px, 100%);
}

.content{
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  margin-bottom: 100px;
}

.nvgt-container {
  margin-top: 25px;
  width: 100%;
  padding-right: clamp(0px, 4vw, 50px);
  display: flex;
  justify-content: flex-end;
}

.info-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}


