.main-btn{
    padding: 12px;
    width: 250px;
    background-color: var(--secondary);
    color: var(--text-b);
    font-size: 1.2rem;
    border-radius: 99px;
    border: 0px;
    transition: transform 0.4s ease;
}

.main-btn:hover{
    transform: scale(1.1);
    background-color: #485A42;
    
}